:host {
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
}

.container {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    margin: -24px;
    display: block;
    border-radius: 50%;


    -webkit-transition: -webkit-transform .3s ease-in-out, background-color 0.3s ease;
    transition: transform .3s ease-in-out, background-color 0.3s ease;

    -webkit-animation: popup .2s linear 0s 1 alternate;
    animation: popup .2s linear 0s 1 alternate;
}

.container[condensed] {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

@-webkit-keyframes popup {
    0% {
        -webkit-transform: scale(0);
    }
    73% {
        -webkit-transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
    73% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
