<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <title>unquote</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <script src="{{ STATIC_URL }}bower/webcomponentsjs/webcomponents.js"></script>

    <script src="{{ STATIC_URL }}bower/angular/angular.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/app.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/routes.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/controllers/authenticationController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/services/authenticationService.js" type="text/javascript"></script>
</head>
<body ng-app="punktlich">
{% block content %}{% endblock %}
</body>
</html>