body {
    font-family: RobotoDraft, sans-serif;
    color: #333;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow:   hidden;
}

body > div { /* hack to prevent 'over-scrolling' on safari/chrome */
    height:     100%;
    overflow:   scroll;
}

core-toolbar paper-fab {
    top: 32px;
    right: 24px;
}

.filter-pane{
    width: 90px;
}
.filter-pane > timeline-filter{
    margin-bottom: 10px;
}

paper-fab {
    cursor: pointer;
    z-index: 1;
}