<style>
    .top-sticker {
        position: fixed;
        top: 0;
        width: 100%;
        background: white;

        /*height: 290px;*/

        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    }

    [drawer] {
        background-color: white;
    }

    [main] {
        min-height: 0%;
    }

    .top-toolbar {
        background: #009688;
        color: white;
    }

    .timeline-view {
        transition: padding-top .2s ease-in-out;
        -webkit-transition: padding-top .2s ease-in-out;
        padding: 20px 0;
        padding-top: 310px;
    }

    .timeline-view.condensed {
        padding-top: 170px;
    }

</style>
<core-drawer-panel forceNarrow="true">
    <core-drawer-header drawer ng-controller="OffCanvasMenuController" class="off-canvas">
        <div class="person-header" horizontal layout>
            <punkt-circle abbr="LH" color="009688"></punkt-circle>
            <div>
                <span>
                    {{ user.first_name }} {{ user.last_name }}
                </span>
            </div>
        </div>
        <hr />
        <ul>
            <li ng-click="goto('punktlich.meetings.list')">
                <core-icon icon="home"></core-icon>
                <span>Home</span>
            </li>
        </ul>
        <hr />
        <ul>
            <li ng-repeat="team in teams" ng-click="goto('puntlich.teams.update', {teamid: team.id})" horizontal layout>
                <punkt-circle color="{{ team.color }}" width="28" height="28"></punkt-circle>
                <span>
                    {{ team.name }}
                </span>
            </li>
        </ul>
        <hr />
        <ul>
            <li>
                <core-icon icon="settings-applications"></core-icon>
                <span>Settings</span>
            </li>
            <li ng-click="goto('punktlich.logout')">
                <core-icon icon="exit-to-app"></core-icon>
                <span>Sign out</span>
            </li>
        </ul>
    </core-drawer-header>
    <div main class="content" id="page">
        <div class="timeline-view" ui-view></div>
        <div class="top-sticker">
            <core-toolbar class="top-toolbar">
                <paper-icon-button icon="menu" core-drawer-toggle>
                </paper-icon-button>
                <div flex><span style="cursor:pointer;" ng-click="goto('punktlich.meetings.list')">Punktlich.</span></div>
                <paper-fab class="add" icon="add" title="Create meeting" role="button" aria-label="Create meeting"
                           ng-click="goto('^.create')" style="background-color: #03A9F4;"></paper-fab>
            </core-toolbar>
            <timeline-container id="timeline" style="width: 100%" vertical layout>
                <timeline-node ng-repeat="meeting in meetings | filter:visible=true" color="{{ meeting.color }}"
                               date="{{ meeting.date }}" data-meetingid="{{ meeting.id }}"></timeline-node>
            </timeline-container>
        </div>
    </div>
</core-drawer-panel>
