<div vertical layout center>
    <form-box>
        <h2>Punktlich.</h2>

        <form name="loginform", ng-submit="login(loginform, email, password)">
            <paper-input-decorator floatingLabel label="Email">
                <input is="core-input" required type="email" name="email" ng-model="email"/>
            </paper-input-decorator>
            <paper-input-decorator floatingLabel label="Password">
                <input is="core-input" required name="password" type="password" ng-model="password"/>
            </paper-input-decorator>

            <input type="submit" hidden/>
        </form>
        <paper-button class="primary" raised ng-click="login(loginform, email, password)">Login</paper-button>
        <paper-button ng-click="goto('register')">register</paper-button>
    </form-box>
</div>