<core-scaffold>

    <span tool>Title</span>
    <div class="content" vertical layout>
        <paper-input-decorator
                label="Email"
                floatingLabel="true"
                ng-model="email">
        <input is="core-input" type="text" ng-model="firstname" />
                </paper-input-decorator>
        <paper-input-decorator
                label="Password"
                floatingLabel="true"
                type="password"
                ng-model="password">
        <input is="core-input" type="text" ng-model="firstname" />
        </paper-input-decorator>
        <paper-button
                raised="true"
                ng-click="login(email, password);">LOGIN
        </paper-button>
    </div>
</core-scaffold>