<style>
    .top-sticker {
        position: fixed;
        top: 0;
        width: 100%;
        background: white;

        /*height: 290px;*/

        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    }

    [drawer] {
        background-color: white;
    }

    [main] {
        min-height: 0%;
    }

    .top-toolbar {
        background: #009688;
        color: white;
    }

    .timeline-view {
        transition: padding-top .2s ease-in-out;
        -webkit-transition: padding-top .2s ease-in-out;
        padding: 20px 0;
        padding-top: 310px;
    }

    .timeline-view.condensed {
        padding-top: 170px;
    }

</style>
<core-drawer-panel forceNarrow="true">
    <core-drawer-header drawer ng-controller="OffCanvasMenuController" class="off-canvas">
        <div class="person-header">
            <punkt-person abbr="LH" name="Luuk Holleman" image="http://media-cache-ec0.pinimg.com/avatars/luukholleman_1392631495_140.jpg"></punkt-person>
            <span>
                Luuk Holleman
            </span>
        </div>
        <div class="line"></div>
        <ul>
            <li ng-repeat="team in user.teams">
                <span ng-style="{'color' : '#' + team.color}">O</span>
                <span ng-click="goto('team/' + team.id + '/update')">
                    {{ team.name }}
                </span>
            </li>
        </ul>
        <div class="line"></div>
        <ul>
            <li>
                <core-icon icon="settings-applications"></core-icon>
                <span>Settings</span>
            </li>
            <li>
                <core-icon icon="exit-to-app"></core-icon>
                <span>Sign out</span>
            </li>
        </ul>
    </core-drawer-header>
    <div main>
        <div class="timeline-view" ui-view></div>
        <div class="top-sticker">
            <core-toolbar class="top-toolbar">
                <paper-icon-button icon="menu" core-drawer-toggle>
                </paper-icon-button>
                <div flex>Punktlich.</div>
                    <paper-fab class="add" icon="add" title="Create meeting" role="button" aria-label="Create meeting" ng-click="goto('^.create')" style="background-color: #03A9F4;"></paper-fab>
            </core-toolbar>
            <timeline-container id="timeline" style="width: 100%" vertical layout>
                    <timeline-node ng-repeat="meeting in meetings | filter:visible=true" color="{{ meeting.color }}"
                                   date="{{ meeting.date }}"></timeline-node>
                </timeline-container>
        </div>
    </div>
</core-drawer-panel>

