<div vertical layout style="height: 100%">
    <div>
        <core-toolbar style="background: #009688; color:white">
            <paper-icon-button icon="arrow-back"></paper-icon-button>
            <strong flex>Punktlich.</strong>
            <paper-icon-button icon="more-vert"></paper-icon-button>
        </core-toolbar>
    </div>
    <div>
        <h2>Timeline</h2>
    </div>
    <timeline-line style="width: 100%" vertical layout>
    </timeline-line>
    <div vertical layout center flex>
        <div horizontal layout flex style="margin:10px;">
            <div style="border-radius:20px;background-color: #efefef;width:200px;height:100px; margin: 10px; padding:5px">BLOCK</div>
            <div style="border-radius:20px;background-color: #efefef;width:200px;height:100px; margin: 10px; padding:5px">BLOCK</div>
            <div style="border-radius:20px;background-color: #efefef;width:200px;height:100px; margin: 10px; padding:5px">BLOCK</div>

        </div>
    </div>
</div>