<style>
    .top-sticker {
        position: fixed;
        top: 0;
        width: 100%;
        background: white;

        /*height: 290px;*/

        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    }

    [drawer] {
        background-color: white;
    }

    [main] {
        min-height: 0%;
    }

    .top-toolbar {
        background: #009688;
        color: white;
    }

    .timeline-view {
        transition: padding-top .2s ease-in-out;
        -webkit-transition: padding-top .2s ease-in-out;
        padding: 20px 0;
        padding-top: 310px;
    }

    .timeline-view.condensed {
        padding-top: 170px;
    }
</style>
<core-drawer-panel forceNarrow="true" style="position: static;">
    <core-drawer-header drawer ng-controller="OffCanvasMenuController">
        <core-toolbar class="top-toolbar">
            <strong flex>{{ user.full_name }}</strong>
        </core-toolbar>

        <ul>
            <li ng-repeat="team in user.teams">
                <span ng-click="goto('group/' + team.id)">{{ team.name }}</span>
            </li>
        </ul>
    </core-drawer-header>
    <div main>
        <div class="timeline-view" ui-view></div>
        <div class="top-sticker">
            <core-toolbar class="top-toolbar">
                <paper-icon-button icon="menu" core-drawer-toggle>
                </paper-icon-button>
                <div flex>Punktlich</div>
                    <paper-fab class="add" icon="add" title="Create meeting" role="button" aria-label="Create meeting" ng-click="goto('^.create')" style="background-color: #03A9F4;"></paper-fab>
            </core-toolbar>
            <timeline-container id="timeline" style="width: 100%" vertical layout>
                    <timeline-node ng-repeat="meeting in meetings | filter:visible=true" color="{{ meeting.color }}"
                                   date="{{ meeting.date }}"></timeline-node>
                </timeline-container>
        </div>
    </div>
</core-drawer-panel>

