<div vertical layout center>
    <punkt-card ng-repeat="meeting in meetings"
                header="{{ meeting.name }}"
                subheader="{{ meeting.humanReadableDate() }}"
                location="{{ meeting.location }}"
                invitations="{{ meeting.invitations }}"
                abbr="P"
                color="#E91E63"
                status="1">
        <p>{{ meeting.description }}</p>

        <div vertical layout style="margin-bottom: 20px" class="">
            <div horizontal layout>
                <punkt-file
                        type="subject"
                        groupColorTint="#F06292"
                        name="Agenda"
                        owner="Christian Benstein"
                        ></punkt-file>
                <punkt-file
                        type="subject"
                        groupColorTint="#F06292"
                        name="Minutes"
                        owner="Luuk Holleman"
                        ></punkt-file>
                <div vertical layout center>
                    <paper-button style="margin-top: 5px; color: #F06292" class="colored">+ 6 attachments</paper-button>
                </div>
            </div>

            <div vertical layout>
                <div horizontal layout
                     style="margin: 20px 0 10px 0; color: #009688;">
                    <label class="punktlich-label">Participants</label>
                </div>

                <div horizontal layout>
                    <punkt-person abbr="DH" name="Daan Houweling" image="" status="1"></punkt-person>
                    <punkt-person abbr="LH" name="Luuk Holleman" image="http://media-cache-ec0.pinimg.com/avatars/luukholleman_1392631495_140.jpg" status="1"></punkt-person>
                    <punkt-person abbr="HW" name="Henk De Waal" image="" status="1"></punkt-person>
                    <punkt-person abbr="WA" name="Wasim Alsaqaf" image="" status="1"></punkt-person>
                    <punkt-person abbr="TP" name="Tim Potze" image="" status="2"></punkt-person>
                    <punkt-person abbr="CB" name="Christian Benstein" image="https://lh3.googleusercontent.com/-itFogd4s6aA/AAAAAAAAAAI/AAAAAAAABfo/f0ecU39bZFc/s120-c/photo.jpg" status="2"></punkt-person>
                    <punkt-person abbr="LH" name="Leon Huzen" image="" status="3"></punkt-person>
                    <punkt-person abbr="PV" name="Peter de Vries" image="" status="0"></punkt-person>
                    <div vertical layout center>
                        <paper-button style="margin-top: 8px; color: #F06292" class="colored">+ 7 others</paper-button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="spacing" style="margin: 0 -20px;" flex />
    </punkt-card>
</div>
