<div vertical layout center>
    <punkt-card ng-repeat="meeting in meetings"
                header="{{ meeting.name | limit:32 }}"
                subheader="{{ meeting.date_and_time | humanReadableDate:true }}"
                location="{{ meeting.location }}"
                invitations="{{ meeting.invitations }}"
                abbr="P"
                color="#E91E63"
                id="meeting-{{ meeting.id }}"
                status="1">
        <div class="info">
            <p>
                {{ meeting.description | limit:256 }}
                <a href="#moreinfo" ng-show="{{ meeting.description && meeting.description.length > 256 }}"
                   ng-click="goto('meeting-detail', {meetingid: meeting.id})">More...</a>
            </p>

            <div vertical layout style="margin-bottom: 20px" class="">
                <div horizontal layout>
                    <punkt-file ng-show="meeting.hasAgenda" type="subject"
                                ng-click="goto('meeting-detail.agenda-detail', {meetingid: meeting.id})"
                                groupColorTint="#F06292" name="Agenda"
                                owner="{{ meeting.latestAgenda.owner.full_name }}"></punkt-file>
                    <punkt-file ng-show="true" type="subject"
                                ng-click="goto('meeting-detail.minutes-detail', {meetingid: meeting.id})"
                                groupColorTint="#F06292" name="Minutes"
                                owner="Fake data"></punkt-file>
                    <div vertical layout center>
                        <!--
                        <paper-button style="margin-top: 5px; color: #F06292" class="colored">+ 6 attachments
                        </paper-button>
                        -->
                    </div>
                </div>

                <div vertical layout
                        ng-show="users.length > 0">
                    <div horizontal layout
                         style="margin: 20px 0 10px 0; color: #009688;">
                        <label class="punktlich-label">Participants ({{ users.length }})</label>
                    </div>

                    <div horizontal layout>
                        <punkt-person ng-repeat="user in users" abbr="{{ user.initials }}" name="{{ user.full_name }}"
                                      image
                                      status="1"></punkt-person>
                    </div>
                </div>
            </div>
            <hr class="spacing" style="margin: 0 -20px;" flex/>
        </div>

        <!-- @todo: move style to css/sass -->
        <paper-button ng-click="goto('meeting-detail', {meetingid: meeting.id})" style="color: #009688"
                      class="button btn-default">open meeting
        </paper-button>
    </punkt-card>
</div>
