.off-canvas
  background-color: #FAFAFA
  //width: 315px !important

  & .line
    width: 100%
    height: 1px
    background-color: #979797
    margin: 10px 0

  & core-icon
    width: 32px
    height: 32px

  & ul
    list-style: none
    margin: 0
    padding: 0

    & li
      padding: 10px 20px
      color: #979797
      font-family: 'Roboto', serif
      font-weight: 100
      font-size: 22px
      cursor: pointer
      & span
        position: relative
        top: 2px
      &:hover
        color: #676767

.person-header
  padding: 20px

  & div
    position: relative
    width: 155px

    & span
      font-size: 20px
      position: absolute
      top: 55%
      transform: translateY(-50%)

.person-header punkt-circle
  display: flex
  float: left
