paper-button {
  color: #009688; }
  paper-button.primary {
    color: #009688; }
  paper-button.warning {
    color: #F44336; }
  paper-button[raised] {
    color: #fff; }
    paper-button[raised].primary {
      background: #009688; }
    paper-button[raised].warning {
      background: #F44336; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  background-color: #fafafa;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

core-toolbar > paper-fab {
  top: 32px;
  right: 24px; }

.filter-pane {
  width: 90px;
  margin-bottom: 10px; }

paper-fab {
  cursor: pointer;
  z-index: 1; }

span.label {
  color: #bfbfbf; }

hr.spacing {
  background-color: #D3D3D3;
  padding-top: 1px;
  height: 0px;
  border: none; }

.content {
  overflow-y: auto; }

paper-shadow.form {
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.action-menu {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0; }
  .action-menu paper-button {
    font-size: 10px; }

.group-punktlich {
  background-color: #009688;
  color: white; }

.group-red {
  background-color: #F44336;
  color: white; }

.group-pink {
  background-color: #E91E63;
  color: white; }

.group-purple {
  background-color: #9C27B0;
  color: white; }

.group-deep-purple {
  background-color: #673AB7;
  color: white; }

.group-indigo {
  background-color: #3F51B5;
  color: white; }

.group-blue {
  background-color: #2196F3;
  color: white; }

.group-light-blue {
  background-color: #03A9F4;
  color: white; }

.group-cyan {
  background-color: #00bcd4;
  color: white; }

.group-teal {
  background-color: #009688;
  color: white; }

.group-green {
  background-color: #4caf50;
  color: white; }

.group-light-green {
  background-color: #8bc34a;
  color: white; }

.group-lime {
  background-color: #cddc39;
  color: black; }

.group-yellow {
  background-color: #ffeb3b;
  color: black; }

.group-amber {
  background-color: #ffc107;
  color: black; }

.group-orange {
  background-color: #ff9800;
  color: black; }

.group-deep-orange {
  background-color: #ff5722;
  color: white; }

.group-brown {
  background-color: #795548;
  color: white; }

.group-grey {
  background-color: #9e9e9e;
  color: black; }

.group-blue-grey {
  background-color: #607d8b;
  color: white; }

.member-box {
  margin: 20px 10px;
  min-width: 380px; }

.member {
  margin-bottom: 10px; }
  .member h4, .member h5 {
    font-weight: 100;
    margin: 0; }
  .member h4 {
    margin-bottom: 4px;
    font-weight: 400; }

.off-canvas {
  background-color: #FAFAFA;
  width: 355px; }
  .off-canvas .line {
    width: 100%;
    height: 1px;
    background-color: #979797;
    margin: 10px 0; }
  .off-canvas core-icon {
    width: 32px;
    height: 32px; }
  .off-canvas ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .off-canvas ul li {
      padding: 10px 20px;
      color: #979797;
      font-family: "Roboto", serif;
      font-weight: 100;
      font-size: 22px; }
      .off-canvas ul li span {
        padding-top: 5px; }

.person-header {
  padding: 20px; }

.person-header punkt-person {
  display: flex; }

/*# sourceMappingURL=main.css.map */
