DEBUG = True

TEMPLATE_DEBUG = True

STATIC_ROOT = '<absolute path to static dir>'

if DEBUG:
    EMAIL_HOST = '127.0.0.1'
    EMAIL_HOST_USER = ''
    EMAIL_HOST_PASSWORD = ''
    EMAIL_PORT = 1025
    EMAIL_USE_TLS = False

# Site url
SITE_URL = ''

# Media
MEDIA_ROOT = ''
MEDIA_URL = ''
