<style>
    core-submenu {
        background-color: #EEEEEE;
    }

    punkt-circle {
        padding: 10px;
    }

    .content {
        background-color: white;
        padding: 10px;
    }

    .sidebar {
        padding: 15px;
    }

    p.muted-info {
        font-size: 24px;
        color: #acacac;
        margin: 3px 0;
    }

    .info-container {
        margin: 15px;
    }

    .sidebar.right {
        border-left: 1px solid #d9d9d9;
        width: 350px;
        box-sizing: border-box;
    }

    .sidebar hr {
        width: 100%;
    }

    .sidebar .placeholder {
        margin-top: 20px;
        color: #f0f0f0;
        font-weight: 300;
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    punkt-dropdown {
        margin: 10px;
    }

    core-toolbar abbr {
        float: right;
        font-size: 65px;
        color: rgba(255, 255, 255, .3);
        font-weight: 100;
        line-height: 100%;
    }
</style>

<core-toolbar class="top-toolbar" style="background-color: #{{ meeting.color }};">
    <paper-icon-button style="color:#fff" icon="arrow-back" ng-click="goto('punktlich.meetings.list')"></paper-icon-button>
    <strong flex style="color:#fff;">{{ meeting.name }}</strong>

    <abbr>P</abbr>
</core-toolbar>

<div horizontal flex layout>
    <core-submenu icon="settings" label="Files" class="core-selected" active>
        <core-item label horizontal center layout>
            <punkt-dropdown>
                <paper-button class="primary" raised>new</paper-button>
                <core-item ng-click="upload('agendas')">Add new agenda</core-item>
                <core-item ng-click="upload('minutes')">Add new minute</core-item>
                <core-item ng-click="upload('attachments')">Add new attachment</core-item>
            </punkt-dropdown>
        </core-item>
    </core-submenu>
    <div flex vertical layout class="content">
        <div class="info-container">
            <p class="muted-info">{{ meeting.date_and_time | humanReadableDate:true }}</p>

            <p>
                {{ meeting.description }}
            </p>
        </div>
        <h4 class="heading">
            Files
        </h4>

        <div horizontal layout>
            <punkt-file ng-hide="agendas.length == 0" type="subject"
                        ng-click="goto('punktlich.meeting-detail.agenda-detail')"
                        groupColorTint="{{ meeting.color }}" name="Agenda"
                        owner="{{ agendas[0].uploaded_at | humanReadableDate }}"></punkt-file>

            <punkt-file ng-hide="minutes.length == 0" type="subject"
                        ng-click="goto('punktlich.meeting-detail.minutes-detail')"
                        groupColorTint="{{ meeting.color }}" name="Minutes"
                        owner="{{ minutes[0].uploaded_at | humanReadableDate }}"></punkt-file>
        </div>
        <h4 class="heading">
            Participants
        </h4>

        <div horizontal layout>
            <punkt-circle ng-repeat="invitation in invited" abbr="{{ invitation.user.initials }}"
                          name="{{ invitation.user.full_name }}"
                          status="{{ invitation.state }}"></punkt-circle>
        </div>
    </div>

    <div vertical layout class="sidebar right" ui-view="right-sidebar">
        <span class="placeholder">Details</span>
    </div>

    <div hidden>
        <input type="file" class="file-upload" pl-file="fileSelected($event)"  name="agenda"/>
    </div>
</div>