<style>
    core-submenu {
        background-color: #EEEEEE;
    }

    punkt-person {
        padding: 10px;
    }

    punkt-file-revision {
        padding:10px;
    }

    .invited {
        padding-top: 30px;
    }

    .pdf {
        background-color: #BDBDBD;
    }

    .meeting-info {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

<core-toolbar class="top-toolbar" style="background-color: #E91E63;">
    <paper-icon-button style="color:#fff;" icon="arrow-back" ng-click="goto('meetings.list')"></paper-icon-button>
    <strong flex style="color:#fff;">{{ meeting.name }}</strong>
    <paper-fab icon="add" title="Create meeting" role="button" aria-label="Create meeting"
               ng-click="" style="background-color: #E91E63;"></paper-fab>
</core-toolbar>

<div horizontal flex layout>
    <core-submenu icon="settings" label="Files" class="core-selected" active="">
        <core-item label="" horizontal="" center="" layout="">
            <punkt-file-revision
                    type="subject"
                    groupColorTint="#F06292"
                    name="Agenda"
                    owner="Christian Benstein"
                    revisions=''
                    class="select-revision"></punkt-file-revision>
        </core-item>
        <core-item label="" horizontal="" center="" layout="">
            <punkt-file-revision
                    type="subject"
                    groupColorTint="#F06292"
                    name="Minute"
                    owner="Christian Benstein"
                    revisions='{{ meeting.agendas }}'
                    class="select-revision"></punkt-file-revision>
        </core-item>
    </core-submenu>
    <div flex vertical layout>
        <div class="meeting-info">
            <h1>In {{ meeting.location }} {{ meeting.humanReadableDate() }}</h1>
            <p>
                {{ meeting.description }}
            </p>
        </div>
        <div flex class="pdf">
            <embed ng-src="{{ pdf }}" style="width:100%; height:600px;"></embed>
        </div>
    </div>
    <core-submenu icon="settings" label="Files" class="core-selected invited" active="">
        <core-item label="" horizontal="" center="" layout="">
            <punkt-person ng-repeat="user in users" abbr="{{ user.initials }}" name="{{ user.full_name }}" image="" status="1"></punkt-person>
        </core-item>
    </core-submenu>
</div>
