<style>
    .file-details {
        font-weight: 100;
        padding-top: 15px;

    }

    .file-details > dt {
        display: inline-block;
        float: left;
        text-align: left;
        width: 100px;
        clear: left;
        margin: 5px auto;
        padding: 0;
    }

    .file-details > dd {
        display: inline-block;
        float: left;
        text-align: left;
        width: 200px;
        margin: 5px auto;
        padding: 0;
    }
</style>

<div class="file-detail-heading">
    <core-icon icon="subject" role="img"></core-icon>
    <h2>{{ fileType }}</h2>
</div>

<hr class="spacing"/>

<dl class="file-details">
    <dt>Name</dt>
    <dd>{{ file.name }}</dd>
    <dt>Uploaded by</dt>
    <dd>{{ file.owner }}</dd>
    <dt>Uploaded at</dt>
    <dd>{{ file.created_at }}</dd>
</dl>
<pre>
{{ file | json }}
</pre>
