<style>
    .file-details {
        font-weight: 100;
        padding-top: 15px;

    }

    .file-details > dt {
        display: inline-block;
        float: left;
        text-align: left;
        width: 100px;
        clear: left;
        margin: 5px auto;
        padding: 0;
    }

    .file-details > dd {
        display: inline-block;
        float: left;
        text-align: left;
        width: 200px;
        margin: 5px auto;
        padding: 0;
    }
</style>

<div class="file-detail-heading">
    <core-icon icon="subject" role="img"></core-icon>
    <h2>Title</h2>
</div>

<hr class="spacing"/>

<dl class="file-details">
    <dt>Name</dt>
    <dd>Onderzoek automatisering Polymer</dd>
    <dt>Type</dt>
    <dd>Agenda</dd>
    <dt>Owner</dt>
    <dd>Heon Luzen</dd>
    <dt>Created</dt>
    <dd>12 December 14:02</dd>
</dl>