<div vertical layout center>
    <paper-shadow vertical layout class="form">
        <h2>
            Plan a meeting
        </h2>
        <form name="meetingForm" pl-submit ng-submit="save(meetingForm)">
            <div>
                <paper-dropdown-menu label="Group" id="team-dropdown" name="team">
                    <paper-dropdown class="dropdown">
                        <core-menu class="menu">
                            <paper-item ng-repeat="team in teams" teamid="{{ team.id }}">{{ team.name }}</paper-item>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
            <paper-input-decorator floatingLabel label="Name">
                <input is="core-input" type="text" name="name" ng-model="meeting.name"/>
            </paper-input-decorator>

            <paper-input-decorator floatinglabel label="Description">
                <textarea id="t1" rows="5" name="description" ng-model="meeting.description"></textarea>
            </paper-input-decorator>

            <paper-input-decorator floatingLabel label="Date and time">
                <input is="core-input" type="text" name="date_and_time" ng-model="meeting.date_and_time"/>
            </paper-input-decorator>
            <paper-input-decorator floatingLabel label="Address">
                <input is="core-input" required type="text" name="address" ng-model="meeting.address"/>
            </paper-input-decorator>
            <paper-input-decorator floatingLabel label="Location">
                <input is="core-input" required type="text" name="location" ng-model="meeting.location"/>
            </paper-input-decorator>
        </form>

        <div horizontal layout reverse>
            <paper-button class="primary" raised ng-click="save(meetingForm)">Plan
            </paper-button>
            <paper-button ng-click="goto('^.list')">Cancel</paper-button>
        </div>
    </paper-shadow>
</div>